.button {
  color: @black-light;

  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;

  padding: 10px 20px;

  background-color: transparent;

  border-color: @black-light;
}

.button--order {
  line-height: 20px;
  margin-bottom: 36px;
}
