.catalog-list {
  .zero-indent;

  list-style: none;
}

.catalog-list__item {
  margin-bottom: 30px;
}

.catalog-list__description-wrapper {
  border: 1px solid #ececec;
  border-top: none;
}

.catalog-list__item-title {
  padding-top: 31px;
  margin-bottom: 17px;
}

.catalog-list__item-description {
  font-size: 13px;
  list-style: 30px;

  padding-bottom: 16px;
  margin-bottom: 16px;
}

.catalog-list__item-price {
  font-weight: bold;

  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .catalog-list__item {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .catalog-list__item {
    display: flex;
    flex-direction: column;
  }
}
