.catalog-sections__link {
  color: white;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
}

.catalog-sections__link--interior-items {
  background-color: #63d1bb;
}

.catalog-sections__link--toys {
  background-color: #56c3b2;
}
