.catalog-sections {
  margin-bottom: 34px;
}

.catalog-sections__list {
  list-style: none;

  .zero-indent;
}

.catalog-sections__link {
  color: white;

  font-size: 19px;
  font-weight: bold;
  line-height: 24px;

  display: inline-block;
  vertical-align: middle;

  max-width: 106px;
}

.catalog-sections__item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-sections__item--interior-items {
  background-color: @seafoam-blue;
}

.catalog-sections__item--toys {
  background-color: @greeny-blue;
}
