@media (min-width: @tablet-width) {
  .checkbox-list {
    display: flex;
    flex-wrap: wrap;
    width: 465px;
  }

  .checkbox-list .form__option {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .checkbox-list {
    width: 520px;
  }

  .checkbox-list .form__option {
    width: 30%;
  }
}
