.form {
  margin-top: 30px;
  margin-bottom: 55px;
}

.form__field {
  border: none;

  .zero-indent;
  margin-bottom: 33px;
  padding-top: 25px;
}

.form__field:last-of-type {
  margin-bottom: 18px;
}

.form__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: @seafoam-blue;
  text-transform: uppercase;
}

.form label {
  font-size: 17px;
  font-weight: bold;
  color: @black-base;
}

.form__list {
  list-style: none;

  .zero-indent;
}

.form__option {
  .zero-indent;
}

.form__required {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .form__field-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__title {
    margin-right: 130px;
  }

  .form label {
    line-height: 19px;
    font-size: 19px;
  }

  .form__input[type="checkbox"] {
    margin-right: 28px;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
