.form {
  margin-top: 30px;
  margin-bottom: 55px;
}

.form__field {
  border: none;

  .zero-indent;
  margin-bottom: 33px;
  padding-top: 25px;
}

.form__field:last-of-type {
  margin-bottom: 18px;
}

.form__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: @seafoam-blue;
  text-transform: uppercase;
}

.form label {
  font-size: 17px;
  font-weight: bold;
  color: @black-base;
}

.form__list {
  list-style: none;

  .zero-indent;
}

.form__option {
  .zero-indent;
}

.form__required {
  margin-bottom: 30px;
}
