.h1 {
  color: @black-base;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  background-color: @h1-bg;

  .zero-indent;
  padding: 76px 41px 74px 41px;
  margin-bottom: 30px;
}

.h1--index {
  color: #010000;

  padding-top: 76px;
  padding-bottom: 120px;
  padding-left: 39px;

  width: 244px;

  text-align: center;

  background-color: transparent;
}
