.h1 {
  color: @black-base;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;

  background-color: @h1-bg;

  .zero-indent;
  padding: 76px 41px 74px 41px;
  margin-bottom: 30px;
}

.h1--index {
  color: #010000;

  margin: 0 auto;
  padding: 76px 0 120px 0;

  width: 244px;

  text-align: center;

  background-color: transparent;
}

@media (min-width: @tablet-width) {
  .h1 {
    font-size: 43px;
    line-height: 50px;
    color: @black-base;
  }

  .h1--index {
    width: 494px;
    padding-top: 160px;
    padding-bottom: 371px;
  }
}
