.h3 {
  color: #000000;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  .zero-indent;
}

.h3--product-of-week {
  color: #63d1bb;

  text-transform: uppercase;
  line-height: 20px;

  margin-top: 8px;
  margin-bottom: 25px;
}
