.h3 {
  color: @black-base;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  .zero-indent;
}

.h3--product-of-week {
  color: @seafoam-blue;

  text-transform: uppercase;
  line-height: 20px;

  margin-top: 5px;
}

@media (min-width: @tablet-width) {
  .h3--product-of-week {
    text-align: center;

    width: 70px;
    margin: 0;
    margin-top: 8px;
    margin-right: 27px;
    align-self: center;
    line-height: 17px;
  }
}

@media (min-width: @desktop-width) {
  .h3--product-of-week {
    margin-right: 50px;
    margin-left: 20px;
  }
}
