.page-header {
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.page-header__wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;
}

.page-header__logo-link:hover,
.page-header__logo-link:focus {
  opacity: 0.6;
}

.page-header__logo-link:active {
  opacity: 0.3;
}

.page-header__logo-image {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 21px;
}

.page-header__delivery,
.page-header__promo-list {
  display: none;
}

.page-header__toggle {
  position: absolute;
  top: 28px;
  right: 28px;
  z-index: 2;

  display: block;
  width: 24px;
  height: 21px;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
  border: none;
}

.page-header--closed .page-header__toggle::before {
  content: "";

  position: absolute;
  top: 4px;
  right: 2px;

  width: 20px;
  height: 2px;

  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}

.page-header--opened .page-header__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 26px;
    height: 2px;

    background-color: #231f20;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .page-header--closed .navigation__list {
    display: none;
  }

  .page-header--nojs .page-header__toggle {
    display: none;
  }

  .page-header--nojs .navigation__list {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    background-color: @h1-bg;
    box-shadow: none;

    box-sizing: border-box;
  }

  .page-header--index {
    background-color: #f9f9f9;
  }

  .page-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
    height: 88px;
  }

  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;

    position: relative;
    padding: 0 50px 0 50px;
    width: 772px;
    box-sizing: border-box;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo-link {
    align-self: center;
  }

  .page-header__logo-container {
    align-self: center;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
    padding: 0;
  }

  .page-header__delivery {
    display: inline-block;
    order: 2;

    padding-top: 16px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    width: 1150px;
  }

  .page-header__logo-link {
    order: 1;
  }

  .page-header__logo-container {
    order: 1;
  }

  .page-header__logo-image {
    margin-right: 54px;

    width: 149px;
    height: 72px;
  }

  .page-header__promo-list {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    flex-grow: 1;
    align-items: center;

    width: 70%;
    margin: 0;
    padding: 16px 0 0 0;

    list-style: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color: #000000;
  }

  .page-header__promo-list li {
    margin-right: 62px;
  }

  .page-header__promo-list a:hover,
  .page-header__promo-list a:focus {
    opacity: 0.6;
  }

  .page-header__promo-list a:active {
    opacity: 0.3;
  }

  .page-header__delivery {
    order: 4;
  }
}
