.page-header {
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;

  position: relative;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  padding: 22px 0;
}

.page-header__logo-image-tablet {
  display: none;
}

.page-header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
  }

  .page-header__logo-image {
    display: none;
  }

  .page-header__logo-image-tablet {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -23px;
  }

  .page-header__delivery {
    display: inline-block;
    margin-bottom: -48px;

    position: relative;
    top: -4px;

    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    flex-wrap: wrap;

    position: relative;

    margin: 0 50px;
  }

  .page-header__logo-image-tablet {
    position: absolute;
    left: 50%;
    margin-left: -56px;
  }
}
