@media (min-width: @tablet-width) {
  .site-list {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    order: 0;

    width: 375px;
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    width: 50%;
  }


  // .site-list__item--new,
  // .site-list__item--sale {
  //   position: relative;
  //   top: 48px;
  // }
}
