.site-list__item--new,
.site-list__item--sale,
.site-list__item--delivery {
  display: none;
}

.site-list a {
  padding-left: 76px;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;

    padding-top: 20px;
  }

  .site-list__item:first-child {
    margin-right: 28px;
  }

  .site-list a {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    padding-top: 32px;
  }

  .site-list__item:nth-child(odd) {
    margin: 0;
    padding-right: 44px;
  }

  .site-list__item:nth-child(even) {
    margin: 0;
    padding-left: 35px;
  }
}
