.video {
  font-size: 13px;

  margin-bottom: 58px;
}

.video__title {
  padding: 29px 43px 26px 91px;

  border: 1px solid #ececec;
  border-bottom: none;
}

.video__description {
  padding-top: 34px;
  padding-bottom: 33px;

  border: 1px solid #ececec;
  border-top: none;
}

.video .button {
  display: inline-block;
  vertical-align: middle;

  margin-top: 29px;
}

@media (min-width: @tablet-width) {
  .video {
    display: flex;
    flex-direction: column;
  }

  video {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .video {
    display: block;
  }

  video {
    float: left;
  }

  .video__title {
    display: inline-block;
  }
}
